$main : #18172B;
$main-light: #616161ec;
$font-light: #C4C4C4;
$border-light: #b9b9b951;
$red: #E90E0E;
$red-light: rgba(233, 14, 14, 40%);
$green: rgba(55, 179, 74, 40%);
$poppins: 'poppins';
$hover: #c7c7c71b;
$hover2:rgba(102, 102, 102, 0.303);

// Home Icon = bi bi-house-door-fill fa-lg
// Profile Icon = bi bi-person-fill fa-lg
// Raport Icon = bi bi-clipboard-data fa-lg
// Admin Icon = bi bi-lock-fill fa-lg
// Settings Icon = bi bi-gear-fill fa-lg