@media (max-width: 1024px) {
    .side-logo img {
        width: 40px;
    }
    .toggle-side-button {
        height: 3px;
        border-radius: 10px;
    }
    .toggle-side-button:nth-child(1) {
        width: 10px;
    }

    .toggle-side-button:nth-child(2) {
        width: 30px;
    }
    
    .toggle-side-button:nth-child(3) {
        width: 20px;
    }
    .side-icons a {
        padding: 12px;
    }

    

    .item-icon i {
        font-size: 20px;
    }

    .list-item {
        font-size: 12px;
    }

    .list-item i {
        font-size: 20px;
    }
    .sidebar-label-bottom {
        font-size: 8px;
    }
    .nav-title {
        font-size: 20px;
    }

    .nav-profile-picture {
        font-size: 18px;
    }

    header, .side-top {
        height: 70px;
    }

}

@media (max-width: 768px) {
    .side-top {
        justify-content: center;
        align-items: center;
    }
    
    .side-link{
        padding-left: 30px;
    }

    .list-text {
        margin-left: 10px;
    }

    .side-logo {
        display: none;
    }
}
