.changeWidthSidebar {
    width: 8%;
}

.changeWidthContainer {
    width: 92%;
    margin-left: 8%;
}

.hideElement {
    display: none;
}

.changeDirection {
    align-items: flex-start;
}

.changeJustify {
    justify-content: center;
}

.changeFontSize {
    font-size: 10px;
    letter-spacing: 3px;
}

.changeFontSize2 {
    font-size: 8px;
    letter-spacing: 1px;
}
    
@keyframes opacity {
    from {
        opacity: 0;
    } to {
        opacity: 100;
    }
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.plusWidth {
    width: 40px;
}

.plusWidth2 {
    width: 30px;
}

.active {
    border-left: 3px solid red;
    background: rgba(255, 0, 0, 0.097);
}
.active2 {
    border-left: 3px solid red;
    background: rgba(255, 0, 0, 0.097);
}